.contain{
    text-align: center;
    background-color: #f8f8f8;
    padding: 50px 12px;
    width: 100%;
    h1{
        font-size: 34px;
        text-transform: capitalize;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        margin-bottom: 15px;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    span{
        padding-left: 10px;
        border-left: 1px solid #222222;
        color: #b8860b;
        font-weight: 300;
    }

}

.faq-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
  
    .faq-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .faq-item {
        border: 1px solid #eaeaea;
        border-radius: 5px;
        margin-bottom: 23px;  
      .faq-question {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #eaeaea;
        padding: 20px 30px;
        cursor: pointer;
        font-family: Poppins, sans-serif;
        font-size: 18px;
        font-weight: 600;
  
        &:hover {
          background-color: #f1f1f1;
        }
  
        .faq-toggle {
          font-size: 18px;
          color: #555;
        }
      }
  
      .faq-answer {
        line-height: 1.5;
        padding: 30px;
        opacity: 1;
        background-color: #fff;
        animation: fadeIn 0.3s ease-in-out;
        color: #777;
        text-transform: capitalize;
      }
  
      &.active {
        .faq-answer {
          display: block;
        }
      }
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }