.Singleproduct {
    margin-top: 3rem;
    margin-bottom: 8rem;

    .singleproduct-img {
        width: 342px;
        height: 342px;
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        .hover-icons {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            gap: 10px;
            opacity: 0;
            transition: opacity 0.3s ease;

            .icon {
                display: flex;
                color: whi;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #ffffff;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                position: relative;

                &:hover {
                    .tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .tooltip {
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #333;
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 4px;
                    font-size: 12px;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease;
                }
            }
        }

        &:hover .hover-icons {
            opacity: 1;
        }
    }

    .singleproduct-info {
        margin-top: 15px;
        background-color: #f8f8f8;
        padding: 15px 25px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 10px;

        .price {
            font-size: 18px;
            font-family: Kanit, sans-serif;
            font-weight: 400;
            color: #5b5b5b;
        }

        a {
            &:hover {
                color: #d29e31;
                transition: all 0.5s ease;
            }
        }
    }
}
